td {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
}
.shortest-path {
  background-color: yellow;
  border-color: yellow;
}
.unvisited {
  background-color: white;
}
.wall {
  background-color: black;
  border-color: black;
  animation-name: wallAnimation;
  animation-duration: 0.1s;
}
.visited {
  animation-name: visitAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.start {
  background-image: url(../../assets/start.svg);
  background-repeat: no-repeat;
}
.finish {
  background-image: url(../../assets/finish.svg);
  background-repeat: no-repeat;
}

@keyframes visitAnimation {
  0% {
    background-color: rgb(160, 160, 199);
  }
  50% {
    background-color: rgb(91, 83, 231);
  }
  75% {
    background-color: rgb(212, 61, 48);
  }
  100% {
    background-color: rgb(212, 186, 34);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
