td {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}
.shortest-path {
  background-color: hotpink;
}
.unvisited {
  background-color: white;
}
.wall {
  background-color: black;
}
.visited {
  background-color: blue;
}
.start {
  background-color: green;
}
.finish {
  background-color: red;
}
