.legend-item-flex {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.legend-item {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
}
.legend-item-flex p {
  margin-left: 5px;
}
